* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gilroy';
    color: #FFFFFF;
    background: url(../image/Rectangle\ 69.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    width: auto;
    display: flex;
    justify-content: space-between;
}

.menu_burger {
    position: relative;
    display: flex;
    align-items: center;
    width: 35px;
    height: 19px;
    margin-top: 38px;
    margin-left: 38px;
}

.menu_burger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #FFFFFF;
}

.menu_burger::before,
.menu_burger::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #FFFFFF;
}

.menu_burger::before {
    top: 0px;
}

.menu_burger::after {
    bottom: 0px;
}

.basket {
    margin-top: 32px;
    margin-right: 38px;
    font-weight: 400;
    font-size: 20px;
    line-height: 6px;
}

.icon-basket {
    font-size: 28px;
}

.payment_state {
    margin-top: 225px;
    text-align: center;
}

.payment_state_title_block {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
}

.payment_state_title {
    position: absolute;
    top: -8px;
    margin-left: 8px;
    font-weight: 700;
    font-size: 100px;
    line-height: 123.8px;
    color: #BF9C24;
    text-shadow: 0px 15px 40px 0px #00000040;
}

.payment_state_title_shadow {
    position: relative;
    font-weight: 700;
    font-size: 100px;
    line-height: 123.8px;
    color: transparent;
    -webkit-text-stroke: 1px #4A4A4A;
    -webkit-text-fill-color: transparent;
}

.payment_state_description {
    max-width: 621px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'NTR';
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
}

.payment_state_button {
    display: flex;
    justify-content: space-between;
    width: 212px;
    height: 53px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.payment_state_button_border {
    width: 183px;
    height: 49px;
    position: absolute;
    z-index: 0;
    border: #FFFFFFB2 solid 2px;
    cursor: pointer;
}

.payment_state_button_border:hover {
    background: #BF9C2411;
}

.payment_state_button_text {
    display: flex;
    align-items: center;
    z-index: 1;
    font-weight: 700;
    font-size: 15px;
    line-height: 18.57px;
    letter-spacing: .045em;
    margin-left: 44px;
    color: #BF9C24;
    user-select: none;
}

.payment_state_button_line {
    width: 50px;
    height: 2px;
    z-index: 1;
    margin-top: auto;
    margin-bottom: auto;
    background: #BF9C24;
}

.services {
    max-width: 1042px;
    margin: 120px auto 100px;
}

.services_title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
    font-family:  'NTR';
    font-weight: 400;
    font-size: 40px;
    line-height: 6px;
}

.services_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 14px;
    margin-top: 20px;
}

.services_card {
    width: 250px;
    height: 365px;
    margin-bottom: 50px;
}

.services_image_block {
    width: 100%;
    height: 210px;
}

.services_image_shadow {
    width: 236px;
    height: 197px;
    position: absolute;
    z-index: 0;
    border: #BF9C24 solid 2px;
    border-radius: 10px;
}
 
.services_image {
    width: 240px;
    height: 200px;
    position: relative;
    z-index: 1;
    padding-top: 10px;
    margin-left: 10px;
}

.service_image_settings {
    width: 240px;
    height: 200px;
    border-radius: 5px;
}

.services_name {
    width: 220px;
    height: 43px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'NTR';
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
}

.services_price_text {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #B8B8B8;
}

.services_price {
    font-weight: 500;
    line-height: 22px;
    color: #BF9C24;
}

.services_button {
    text-align: center;
    margin-top: 22px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18.57px;
    letter-spacing: .045em;
    color: #BF9C24;
    text-decoration: underline;
    user-select: none;
    cursor: pointer;
}

.services_button:hover {
    color: #eccc61;
}

@media screen and (min-width: 320px) {

    .payment_state {
        margin-top: 180px;
    }

    .payment_state_title {
        top: -5px;
        margin-left: 7px;
        font-size: 50px;
        line-height: 61.9px;
    }

    .payment_state_title_shadow {
        font-size: 50px;
        line-height: 61.9px;
    }

    .payment_state_description {
        max-width: 300px;
        margin-top: 15px;
        font-size: 20px;
        line-height: 24px;
    }

    .payment_state_button {
        margin-top: 35px;
    }

    .services {
        max-width: 300px;
        margin: 80px auto 100px;
    }

    .services_title {
        line-height: 40px;
        text-align: center;
    }

    .services_block {
        margin-top: 40px;
    }

}

@media screen and (min-width: 768px) {

    .payment_state {
        margin-top: 150px;
    }

    .payment_state_title {
        top: -10px;
        margin-left: 12px;
        font-size: 100px;
        line-height: 123.8px;
    }

    .payment_state_title_shadow {
        font-size: 100px;
        line-height: 123.8px;
    }

    .payment_state_description {
        max-width: 621px;
        margin-top: 20px;
        font-size: 30px;
        line-height: 35px;
    }

    .payment_state_button {
        margin-top: 40px;
    }

    .services {
        max-width: 530px;
    }

    .services_title {
        line-height: 6px;
        text-align: center;
    }

    .services_block {
        margin-top: 58px;
    }

}

@media screen and (min-width: 1440px) {

    .payment_state {
        margin-top: 225px;
    }

    .payment_state_title {
        top: -8px;
        margin-left: 8px;
    }

    .payment_state_description {
        margin-top: 5px;
        line-height: 40px;
    }

    .services {
        max-width: 1042px;
        margin: 80px auto 100px;
    }

    .services_block {
        margin-top: 20px;
    }

}