<div class="payment_state">
    <div class="payment_state_title_block">
        <p class="payment_state_title_shadow">{{title}}</p>
        <p class="payment_state_title">{{title}}</p>
    </div>
    <div class="payment_state_description">{{text}}</div>
    <div class="payment_state_button">
        <div class="payment_state_button_border"></div>
        <p class="payment_state_button_text">{{button-text}}</p>
        <div class="payment_state_button_line"></div>
    </div>
</div>