{{^empty}}
<div class="services">
    <div class="services_title">{{title}}</div>
    <div class="services_block">
    {{#cards}}
        <div class="services_card">
            <div class="services_image_block">
                <div class="services_image_shadow"></div>
                <div class="services_image"><img class="service_image_settings" src="{{image_url}}"></div>
            </div>
            <p class="services_name">{{services_name}}</p>
            <div class="services_price_text">
                <p>Service cost:&nbsp;<p>
                <p class="services_price">{{price}}</p>
            </div>
            <a href="{{button_url}}"><div class="services_button">{{button_name}}</div></a>
        </div>
    {{/cards}}
    </div>
</div>
{{/empty}}